body{
    font-family: 'Nunito', sans-serif !important;
    margin-top:95px;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.main{
    max-width: 768px;
    margin:0px auto;
    padding-top: 30px;
}
.header-content{
    max-width: 768px;
    margin:0px auto;
    height: 100%;
}
.header-content .nav{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 600;
}
input,
textarea{
    background-color: #edf8f5 !important;
    border:0 !important;
    outline: 0 !important;
    padding:10px !important;
}

.header{
    background-color: #1ebea5;
    box-sizing: border-box;
    color: #fff;
    transition: background-color .5s ease;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    height: 91px;
}

.btn-whatsapp{
    background-color: rgb(1, 230, 117);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;    
    font-weight: 600;
    letter-spacing: 0.26px;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    vertical-align: baseline;
    white-space: nowrap;
    width: 126.984px;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}
ul li {
    padding-top:5px;
    padding-bottom:5px;
}